@tailwind base;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: Inter, sans-serif;
    font-weight: 300;
  }
  a {
    @apply text-inherit font-bold hover:underline
  }
}

@tailwind components;

@tailwind utilities;

.content h1, h2, h3 {
  @apply font-display;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}
.content h1 {
  @apply text-4xl;
}

.content h2 {
  @apply text-2xl;
}

.content h3 {
  @apply text-xl;
}

.content a {
  @apply underline
}

.content img {
  @apply rounded-lg;
}

.content {
  animation: fadeUp 1.5s;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  20% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.zoomIn img {
	transition: .2s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}
.grid-item:hover img {
	transform: translateY(-10px);
}

.grid-item small {
  transition: all .2s ease-in-out;
  opacity: 0;
  transform: translateY(5px);
}

.grid-item:hover small {
  transition: all .2s ease-in-out .2s;
  opacity: 1;
  transform: translateY(0px);
}

.grid-item .info {
  transition: all .2s ease-in-out;
  transform: translateY(1px);
}

.grid-item:hover .info {
  transition: all .2s ease-in-out .1s;
  transform: translateY(-10px);
}



.zoomIn:before {
  content: "";
  height: 0px;
  width: 100%;
  padding-top: 56%;
  display: block;
}

.zoomIn {
  @apply 
    relative m-0
    rounded-xl
    overflow-hidden
    bg-white
    font-normal
    ease-in-out
    duration-300;
}

.zoomIn a {
  @apply no-underline;
  @apply hover:no-underline;
}


@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 10deg;
}

.grid-item {
  background: white;
  padding: 4px; /* This will effectively be the border width */
  border-radius: 14px
}

.grid-item:hover {
  --a:0deg;
  animation: slide 5s infinite;
  background: conic-gradient(from var(--a), rgb(49, 46, 129), magenta 49.9%,rgb(49, 46, 129));
}

@keyframes slide {
  0% {
    --a: -0deg;
  }
  100% {
    --a: -360deg;
  }
}

.custom_header {
  width: 100vw;
  height: 88vh;
  background: url('/assets/header/me.svg'), url('/assets/header/work.svg'),  url('/assets/header/mountain_bg.svg');
  background-repeat: no-repeat, repeat-x, no-repeat;
  background-size: auto 25%,  auto 100%, auto 100%;
  background-position: center bottom, center bottom, center bottom;
  background-color: #fffbeb;
  
  transition: .5s ease-in-out;
  opacity: 0;
  filter: blur(5px);
}

.button {
  @apply
    cursor-pointer
    no-underline

    flex
    gap-2
    items-center

    text-amber-100
    text-xl
    md:text-2xl
    font-normal

    px-8
    py-5

    border-2
    border-indigo-900
    rounded-full

    bg-indigo-600

    shadow-threed
    hover:shadow-threed-2
    
    ease-in-out
    duration-300
}

.button:hover {
  @apply hover:no-underline;
  translate: 5px 5px;
}

.custom_header_loaded {
  transition: .5s ease-in-out;
  opacity: 1;
  filter: blur(0px);
}

.custom_header h1 {
  background-image: linear-gradient(360deg, rgb(113, 21, 97) 0%, rgb(49, 46, 129) 49.9%, rgba(108,101,210,1) 50%, rgba(108,101,210,1) 54.9%, rgba(183,180,233,1) 55%, rgba(183,180,233,1) 59.9%, rgba(247,247,253,1) 60%, rgba(247,247,253,0) 65%);
  background-clip: text; 
  -webkit-text-fill-color: transparent;
  background-size: 100% 250%;
  opacity: 0;
}

.custom_header_loaded h1 {
  background-position: 100% 85%;
  opacity: 1;
  animation: custom_header_loaded_h1 1s;
  animation-timing-function: ease-out;
}

.custom_header_loaded h2 {
  animation: custom_header_loaded_h2 .75s;
  animation-timing-function: ease-out;
  color: #491763
}

.custom_header_loaded hr {
  animation: custom_header_loaded_hr .5s;
  animation-timing-function: ease-out;
  border-color: #491763;
}

@keyframes custom_header_loaded_h1 {
  0% {
    opacity: 0;
    filter: blur(5px);
    background-position: 100% -5%;
    transform: translateY(30px);
  }
  20% {
    opacity: 0;
    filter: blur(5px);
    background-position: 100% -5%;
    transform: translateY(30px);
  }
  25% {
    filter: blur(0px);
    transform: translateY(20px);
    background-position: 100% -5%;
  }
  90% {
    opacity: 1;
    background-position: 100% 85%;
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes custom_header_loaded_h2 {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  10% {
    opacity: 0;
    transform: translateY(-30px);
  }
  55% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes custom_header_loaded_hr {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1000px) {
  .custom_header {
    width: 100vw;
    height: 100vh;
    background: url('/assets/header/me.svg'), url('/assets/header/trees_bg.svg'), url('/assets/header/boat_bg.svg'), url('/assets/header/work.svg'),  url('/assets/header/mountain_bg.svg');
    background-repeat: no-repeat,  no-repeat, no-repeat, repeat-x, no-repeat;
    background-size: auto 25%,  auto 80%, auto 80%, auto 100%, auto 100%;
    background-position: center bottom, left bottom, right bottom, center bottom, center bottom;
    background-color: #fffbeb;
  }
}


.basedIn {
  width: 100vw;
  height: 100vh;
  background: url('/assets/header/me.svg'), url('/assets/others/stockholm.svg');
  background-repeat: no-repeat,  repeat;
  background-size: auto 25%, auto 100%;
  background-position: center bottom;
}

.contact {
  width: 100vw;
  height: 100vh;
  background: url('/assets/header/me.svg'), url('/assets/others/myworld.svg'),  url('/assets/others/myworld2.svg');
  background-repeat: no-repeat,  no-repeat, no-repeat;
  background-size: auto 25%, auto 100%, auto 100%;
  background-position: center bottom;
}

.navbar {
  animation: slideDown 1s; 
}

.post {
  animation-delay: 3s;
  animation: fadeInFromNone 1s; 
}

@keyframes slideDown {
  0% {
  opacity: 0;
  transform: translateY(-15px);
  }
  60% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}
