@tailwind base;

@layer base {
  html {
    font-family: Roboto Mono, sans-serif;
    font-weight: 300;
  }
}

a {
  @apply text-inherit underline font-bold hover:no-underline;
}

@tailwind components;

@tailwind utilities;

.grid-item {
  @apply mb-3 flex justify-between flex-col;
}

.zoomIn img {
	transform: scale(1.1);
	transition: .2s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}
.zoomIn:hover img {
	transform: scale(1);
}

.zoomIn:before {
  content: "";
  height: 0px;
  width: 100%;
  padding-top: 56%;
  display: block;
}


.zoomIn {
  @apply relative m-0 overflow-hidden border-2 border-indigo-800 bg-indigo-600 hover:no-underline font-normal no-underline rounded-2xl shadow-threed hover:shadow-threed-2 ease-in-out duration-300;
}

.zoomIn:hover {
  translate: 5px 5px;
}

.custom_header {
  width: 100vw;
  height: 88vh;
  background: url('/assets/header/me.svg'), url('/assets/header/work.svg'),  url('/assets/header/mountain_bg.svg');
  background-repeat: no-repeat, repeat-x, no-repeat;
  background-size: auto 25%,  auto 100%, auto 100%;
  background-position: center bottom, center bottom, center bottom;
  background-color: #fffbeb;
  
  transition: .5s ease-in-out;
  opacity: 0;
  filter: blur(5px);
}

.button {
  @apply text-xl md:text-2xl px-8 py-5 border-2 border-indigo-800 rounded-full text-amber-100 cursor-pointer bg-indigo-600 no-underline font-normal shadow-threed hover:shadow-threed-2 ease-in-out duration-300 flex
}

.button:hover {
  translate: 5px 5px;
}

.custom_header_loaded {
  transition: .5s ease-in-out;
  opacity: 1;
  filter: blur(0px);
}

.custom_header h1 {
  background-image: linear-gradient(360deg, rgba(56,48,163,1) 0%, rgba(56,48,163,1) 49.9%, rgba(108,101,210,1) 50%, rgba(108,101,210,1) 54.9%, rgba(183,180,233,1) 55%, rgba(183,180,233,1) 59.9%, rgba(247,247,253,1) 60%, rgba(247,247,253,0) 65%);
  background-clip: text; 
  -webkit-text-fill-color: transparent;
  background-size: 100% 250%;
  opacity: 0;
}

.custom_header_loaded h1 {
  background-position: 100% 85%;
  opacity: 1;
  animation: custom_header_loaded_h1 2.5s;
  animation-timing-function: ease-out;
}

@keyframes custom_header_loaded_h1 {
  0% {
    opacity: 0;
    filter: blur(5px);
    background-position: 100% -5%;
    transform: translateY(20px);
  }
  25% {
    opacity: 0;
    filter: blur(5px);
    background-position: 100% -5%;
    transform: translateY(30px);
  }
  30% {
    filter: blur(0px);
    transform: translateY(20px);
    background-position: 100% -5%;
  }
  90% {
    opacity: 1;
    background-position: 100% 85%;
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (min-width: 1000px) {
  .custom_header {
    width: 100vw;
    height: 88vh;
    background: url('/assets/header/me.svg'), url('/assets/header/trees_bg.svg'), url('/assets/header/boat_bg.svg'), url('/assets/header/work.svg'),  url('/assets/header/mountain_bg.svg');
    background-repeat: no-repeat,  no-repeat, no-repeat, repeat-x, no-repeat;
    background-size: auto 25%,  auto 80%, auto 80%, auto 100%, auto 100%;
    background-position: center bottom, left bottom, right bottom, center bottom, center bottom;
    background-color: #fffbeb;
  }
}


.basedIn {
  width: 100vw;
  height: 88vh;
  background: url('/assets/header/me.svg'), url('/assets/others/stockholm.svg');
  background-repeat: no-repeat,  repeat;
  background-size: auto 25%, auto 100%;
  background-position: center bottom;
}

.contact {
  width: 100vw;
  height: 88vh;
  background: url('/assets/header/me.svg'), url('/assets/others/myworld.svg'),  url('/assets/others/myworld2.svg');
  background-repeat: no-repeat,  no-repeat, no-repeat;
  background-size: auto 25%, auto 100%, auto 100%;
  background-position: center bottom;
}

.navbar {
  animation: slideDown 1s; 
}

.post {
  animation: fadeInFromNone 1s; 
}

@keyframes slideDown {
  0% {
  opacity: 0;
  transform: translateY(-15px);
  }
  60% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@-webkit-keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}
