@tailwind base;

@layer base {
  html {
    font-family: ff-real-text-pro-2, sans-serif;
    font-weight: 300;
  }
}

a {
  @apply text-inherit underline font-bold;
}

a:hover {
  @apply underline hover:opacity-80;
}

@tailwind components;

@tailwind utilities;



.zoomIn img {
	transform: scale(1);
	transition: .3s ease-in-out;
}
.zoomIn:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


.zoomIn {
	position: relative; 
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
}


.zoomIn::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(0,0,0,.2);
	border-radius: 100%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.zoomIn:hover::before {
	animation: circle .75s;
}

@keyframes circle {
	0% {
		opacity: .5;
    background: rgba(59, 130, 246, .2)
    
	}
	40% {
		opacity: 1;
    background: rgba(59, 130, 246, .2)
	}
	100% {
		width: 600px;
		height: 600px;
		opacity: 0;
	}
}

.ui-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 14px;
  z-index: 1;
}

.custom_header {
  width: 100vw;
  height: 88vh;
  background: url('/assets/header/me.svg'), url('/assets/header/work.svg'),  url('/assets/header/mountain_bg.svg');
  background-repeat: no-repeat, repeat-x, no-repeat;
  background-size: auto 25%,  auto 100%, auto 100%;
  background-position: center bottom, center bottom, center bottom;
  background-color: #fffbeb;
}

@media screen and (min-width: 1000px) {
  .custom_header {
    width: 100vw;
    height: 88vh;
    background: url('/assets/header/me.svg'), url('/assets/header/trees_bg.svg'), url('/assets/header/boat_bg.svg'), url('/assets/header/work.svg'),  url('/assets/header/mountain_bg.svg');
    background-repeat: no-repeat,  no-repeat, no-repeat, repeat-x, no-repeat;
    background-size: auto 25%,  auto 80%, auto 80%, auto 100%, auto 100%;
    background-position: center bottom, left bottom, right bottom, center bottom, center bottom;
    background-color: #fffbeb;
  }
}


.basedIn {
  width: 100vw;
  height: 88vh;
  background: url('/assets/header/me.svg'), url('/assets/others/stockholm.svg');
  background-repeat: no-repeat,  repeat;
  background-size: auto 25%, auto 100%;
  background-position: center bottom;
}

.contact {
  width: 100vw;
  height: 88vh;
  background: url('/assets/header/me.svg'), url('/assets/others/myworld.svg'),  url('/assets/others/myworld2.svg');
  background-repeat: no-repeat,  repeat, no-repeat;
  background-size: auto 25%, auto 100%, auto 100%;
  background-position: center bottom;
}

.custom_header #item1 {
  transform-box: fill-box;
  transform-origin: center;
  animation: fadeInFromNone .75s;
  animation-timing-function: ease-out;
}

.custom_header #item2 {
  transform-box: fill-box;
  transform-origin: center;
  animation: fadeInFromNone .75s;
  animation-timing-function: ease-out;
}

.custom_header #item3 {
  transform-box: fill-box;
  transform-origin: center;
  animation: fadeInFromNone .75s;
  animation-timing-function: ease-out;
}

.custom_header #item6 {
  transform-box: fill-box;
  transform-origin: center;
  animation: fadeInFromNone 1.5s;
  animation-timing-function: ease-out;
}

@keyframes slideDown {
  0% {
  opacity: 0;
  transform: translateY(-15px);
  }
  60% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@-webkit-keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  40% {
    display: block;
    opacity: 0;
}

  100% {
      display: block;
      opacity: 1;
  }
}

.ta {
  background: linear-gradient(180deg, rgb(#fefbeb) 0%, rgb(#fefbeb) 25%, rgb(a78ec9) 25.1%, rgb(a78ec9) 50%, rgb(#f2adcc) 50.1%, rgb(#f2adcc) 75%, rgb(#e56c89) 75.1%, rgb(#e56c89) 100%)
}
